section {
  &.section5 {
    background-image: url(../../img/falcon9/01.jpg);
  }
  &.section6 {
    background-image: url(../../img/falcon9/02.jpg);
  }
  &.carousel1 {
    background-image: url(../../img/falcon9/03.jpg);
  }
  &.carousel2 {
    background-image: url(../../img/falcon9/04.jpg);
  }
  &.carousel3 {
    background-image: url(../../img/falcon9/05.jpg);
  }
  &.carousel4 {
    background-image: url(../../img/falcon9/06.jpg);
  }
  &.carousel5 {
    background-image: url(../../img/falcon9/07.jpg);
  }
  &.section07 {
    background-image: url(../../img/falcon9/08.jpg);
  }
}
